@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");
nav a {
  text-decoration: none;
  margin: 0 5px 0 5px;
  padding: 10px;
  background-color: rgb(232, 243, 255);
  border: rgb(18, 132, 224) solid 2px;
  color: black;
  border-radius: 8px;
  transition: 150ms ease-in-out;
}
nav a .fa-solid {
  margin-right: 10px;
}
nav a:hover {
  color: white;
  background-color: rgb(18, 132, 224);
  border-color: rgb(232, 243, 255);
}
nav a:active {
  box-shadow: inset 0 6px 20px rgba(0, 0, 0, 0.35);
}

section.observations-section {
  background-color: rgb(232, 243, 255);
  width: 40vw;
  height: 90vh;
  border: dimgray 1px solid;
  border-radius: 12px;
  padding: 5px;
}
section.observations-section #button-bar {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(232, 243, 255);
  border-radius: 10px;
}
section.observations-section a,
section.observations-section button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 10px;
  color: black;
  transition: color 150ms ease-in-out;
}
section.observations-section a i,
section.observations-section button i {
  font-size: 18px !important;
}
section.observations-section a:hover,
section.observations-section button:hover {
  color: rgb(18, 132, 224);
}
section.observations-section #current-observations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
section.observations-section #current-observations #current-icon {
  padding: 2px;
  height: 48px;
  margin: 5px 15px;
  border-radius: 4px;
}
section.observations-section #current-observations #current-temperature {
  font-weight: 700;
  margin: 2px 5px;
  font-size: 30px;
  height: 40px;
}
section.observations-section #current-observations #current-location {
  margin: 2px 5px;
}
section.observations-section #current-observations #observations-information {
  display: flex;
  flex-direction: column;
}

section.weather-overview {
  height: 100vw;
  width: 1058px;
}
section.weather-overview #button-bar {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 243, 255);
  border: dimgray 1px solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 62px;
}
section.weather-overview a,
section.weather-overview button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 10px;
  color: black;
  transition: color 150ms ease-in-out;
}
section.weather-overview a i,
section.weather-overview button i {
  font-size: 18px !important;
}
section.weather-overview a:hover,
section.weather-overview button:hover {
  color: rgb(18, 132, 224);
}
section.weather-overview #charts-pill {
  background-color: rgb(197, 219, 231);
  padding: 2px 20px;
  border-radius: 6px;
}
section.weather-overview #charts {
  cursor: pointer;
  background-color: rgb(197, 219, 231);
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}
section.weather-overview #seperator {
  height: 25px;
  width: 2px;
  border-radius: 50%;
  background-color: rgb(66, 66, 66);
  margin: 0 15px;
}
section.weather-overview #radar {
  display: flex;
  flex-direction: column;
  background-color: rgba(232, 243, 255, 0.55);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
section.weather-overview #current-chart {
  align-self: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1058px;
  max-height: 915px;
  object-fit: contain;
}
section.weather-overview #chart-map {
  position: absolute;
  display: flex;
  width: 100%;
  height: fit-content;
  border-left: dimgray 1px solid;
  border-right: dimgray 1px solid;
  height: 100%;
  width: 100%;
  max-width: 1058px;
  max-height: 915px;
}
section.weather-overview #timestamp {
  margin-left: 25px;
  margin-top: 25px;
  background-color: rgb(232, 243, 255);
  padding: 8px;
  font-weight: 700;
  border-radius: 6px;
  font-size: 24px;
  height: fit-content;
}
section.weather-overview #slider {
  width: 85%;
  background-color: transparent;
  margin: 0 15px;
  background: linear-gradient(blue, gray, 45deg);
}
section.weather-overview #radar-controls {
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 243, 255);
  border: dimgray 1px solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#weathertext {
  padding: 5px;
  background-color: rgb(232, 243, 255);
}
#weathertext p {
  margin: 15px 0;
}

#forecast {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
#forecast .forecast-item {
  background-color: rgb(232, 243, 255);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
#forecast .forecast-date {
  border-bottom: rgb(232, 243, 255) 1px solid;
  text-align: center;
  height: 55px;
}
#forecast #forecast-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 251, 255);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-top: 5px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
#forecast .forecast-icon {
  padding: 2px;
  height: 48px;
  margin: 10px 10px;
  border-radius: 4px;
}
#forecast i {
  font-family: "FontAwesome";
  font-weight: 900;
}
#forecast .forecast-temperature-high {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 4px 18px;
  color: rgb(211, 79, 79);
  font-weight: 400;
}
#forecast .forecast-temperature-high::before {
  content: "\f185";
  font-family: "FontAwesome";
  margin-right: 10px;
  font-weight: 900;
}
#forecast .forecast-temperature-low {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 4px 18px;
  color: rgb(36, 98, 213);
  font-weight: 400;
}
#forecast .forecast-temperature-low::before {
  content: "\f186";
  font-family: "FontAwesome";
  margin-right: 10px;
  font-weight: 900;
}
#forecast #forecast-temp {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(197, 219, 231);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
#forecast #forecast-wind {
  margin: 7px 18px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#forecast #forecast-wind-icon {
  margin-right: 10px;
}
#forecast #forecast-wind-speed {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  font-family: "FontAwesome";
}

header {
  width: 100vw;
}

.header-container {
  background-color: rgb(232, 243, 255);
  height: 80px;
  padding: 0 30px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .logo {
  width: 140px;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/8/2022/10/CLI371.weather.jacobs_ladder_michelle_cowbourne.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

section {
  margin: 0 25px;
}

@media (max-width: 1610px) {
  main {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
