@use '../variables' as *;

#weathertext{
    padding:5px;

    background-color: map-get($colors,'background-color');

    p{
        margin: 15px 0;
    }
}

#forecast{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
   
    .forecast-item{
        background-color:map-get($map: $colors, $key: 'background-color');
        padding:25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size:map-get($typo, 'forecast-temps')
    }

    .forecast-date{
        border-bottom: map-get($map: $colors, $key: 'background-color') 1px solid;
        text-align: center;
        height:55px;
    }

    #forecast-icon-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map-get($map: $colors, $key: 'weather-icon-bg');

        border-top-right-radius: 6px;
        border-top-left-radius: 6px;

        margin-top:5px;

        box-shadow: 0 2px 20px 0 transparentize($color: #000000, $amount: .9);

    }

    .forecast-icon{
        padding: 2px;
        // background-color: map-get($map: $colors, $key: 'weather-icon-bg');
        height: 48px;
        margin: 10px 10px;
        border-radius: 4px;
    }

    i{
        font-family: 'FontAwesome';
        font-weight:900;
    }

    .forecast-temperature-high{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        width:100%;
        margin: 4px 18px;
        color: map-get($map: $colors, $key: 'high-color');
        font-weight: 400;

        &::before{
            content: '\f185';
            font-family: 'FontAwesome';
            margin-right: 10px;
            font-weight:900;
        }
    }

    .forecast-temperature-low{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        width:100%;
        margin: 4px 18px;
        color: map-get($map: $colors, $key: 'low-color');
        font-weight: 400;

        &::before{
            content: '\f186';
            font-family: 'FontAwesome';
            margin-right: 10px;
            font-weight:900;
        }
    }

    #forecast-temp{
        padding: 5px 0;

        display: flex;
        flex-direction:column;
        align-items: center;

        background-color: map-get($map: $colors, $key: 'background-darker');
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;

        box-shadow: 0 2px 20px 0 transparentize($color: #000000, $amount: .9);
    }

    #forecast-wind{
        margin: 7px 18px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #forecast-wind-icon{
        margin-right: 10px;
    }

    #forecast-wind-speed{
        font-weight: 400;
    }
}
